<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Confi 3.3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource = "database.properties"/>
    <environments default = "demo">
        <environment id="demo">
            <transactionManager type= "JDBC"/>
            <dataSource type = "POOLED">
                <property name="driver" value="${database.driver}"/>
                <property name="url" value="${database.url}"/>
                <property name="username" value="${database.username}"/>
                <property name="password" value="${database.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/DriverMapper.xml"/>
    </mappers>
</configuration>